<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog - Free Bulma template</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.3/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/blog.css') }}">


</head>

<body>
    <!-- START NAV -->
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="../">
                    <img src="../images/bulma.png" alt="Logo">
                </a>
                <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                <span></span>
                <span></span>
                </span>
            </div>
        </div>
    </nav>
    <!-- END NAV -->

    <section class="hero is-info is-medium is-bold">
        <div class="hero-body">
            <div class="container has-text-centered">
            </div>
        </div>
    </section>


    <div class="container">
        <!-- START ARTICLE FEED -->
        <section class="articles">
            <div class="column is-8 is-offset-2">
                <!-- START ARTICLE -->
                <div class="card article">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content has-text-centered">
                                <p class="title article-title">Introducing a new feature for paid subscribers</p>
                            </div>
                        </div>
                        <div class="content article-body">
                            <div class="content">
                            <!---- 
                            <p>Non arcu risus quis varius quam quisque. Dictum varius duis at consectetur lorem. Posuere sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper. </p>
                            <p>Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices. In hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit. Accumsan lacus vel facilisis volutpat. Non sodales neque sodales ut etiam.
                                Est pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus.</p>
                            <h3 class="has-text-centered">How to properly center tags in bulma?</h3>
                            <p> 
                                -->
                                <h3 class="has-text-centered">Добрый день,уважаемые коллеги ФГБУ "ИГКЭ имени акамедика Ю.А. Израэля"</h3>
                                <p>Данная страница создана для автоматического скачивания данных из NASA api. С помощью данного портала можно
                                    делать автоматическую загрузку часовых,дневных и месячных данных в районе расположение станции с определенными координатами
                                </p>
                                <p>Данные, которые могут быть выгружены с данного портала:</p>
                                
                                <ol>
                                    <li>T2M  - температура на высоте 2 м, град. С</li>
                                    <li>RH2M - влажность на высоте 2 м, %</li>          
                                    <li>U10M - направление ветра вдоль параллели с запада на восток на высоте 10 м, м/с</li>
                                    <li>V10M - направление ветра вдоль меридиана с севера на юг на высоте 10 м, м/с</li>
                                    <li>ALLSKY_SFC_SW_DNI - Прямое солнечное излучение, падающее на горизонтальную плоскость, перпендикулярную (перпендикулярную) направлению положения солнца при любых условиях неба., МДж/час</li>
                                    <li>PRECTOTCORR - осадки, мм</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- END ARTICLE -->
                <!-- START ARTICLE -->
                
                <div class="card article">
                    <div class="card-content">
                        <form role="form" class="auth-form" action="/get_something" method="post"> 
                        <h1>Координаты исследуемой станции</h1>      
                        <div class="lat-lot-input">
                          <div class="control">
                            <h1>Долгота</h1>
                            <label class="label"> градусы,          минуты</label>
                            <div class="select" >
                              <select id="rec_mode" name="long_grad">
                              </select>
                            </div>
                            <div class="select">
                                <select id ='rec_mode_2' name="long_min">
                                </select>
                              </div>
                          </div>                          
                          <div class="control">
                            <h1>Широта</h1>
                            <label class="label"> градусы,          минуты</label>
                            <div class="select" >
                              <select id="rec_mode_3" name="lat_grad">
                              </select>
                            </div>
                        
                        
                            <div class="select">
                                <select id ='rec_mode_4' name="lat_min">
                                </select>
                              </div>


                          </div>
                        </div>

                          
                          <div class="control">
                            <label class="label"> Данные, выгружаемые из портала</label>
                            <div class="select is-multiple" style="width:100%">
                                <select multiple size="3" style="width:100%" id ='rec_mode_9' name="variables" >
                                  <option>T2M</option>
                                  <option>RH2M</option>                                  
                                  <option>U10M</option>
                                  <option>V10M</option>
                                  <option>ALLSKY_SFC_SW_DNI</option>
                                  <option>PRECTOTCORR</option>
                                </select>
                              </div>
                            </div>

                            <label for="start">Время начала:</label>

                            <input type="date" id="start" name="date_begin"
                                   value="1985-01-01"
                                   min="1985-01-01" max="2022-12-31">
                            
                                   <label for="start">Время конца:</label>
                            <input type="date" id="start" name="date_end"
                                    value="1985-01-01"
                                    min="1985-01-01" max="2022-12-31">
                                   
                            <!----
                          <div class="control">
                            <input class="input" type="text" placeholder="Text input"  id="long_grad">
                          </div>
                          <div class="control">
                            <input class="input" type="text" placeholder="Text input"  id="long_min">
                          </div>
---> 
                          <button type="submit" class="button is-rounded is-link px-6 py-5 is-size-6 mt-3 register_btn" style="width: 100%;">Отправить данные на проверку</button>
                        </form>
                    </div>

                </div>
            
                <!---
                <div class="card article">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-center">
                                <img src="https://res.cloudinary.com/ameo/image/upload/v1639144778/typocat_svbspx.png" class="author-image" alt="Placeholder image">
                            </div>
                            <div class="media-content has-text-centered">
                                <p class="title article-title">Sapien eget mi proin sed 🔱</p>
                                <p class="subtitle is-6 article-subtitle">
                                    <a href="#">@daria</a> on February 17, 202X
                                </p>
                            </div>
                        </div>
                        <div class="content article-body">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Accumsan lacus vel facilisis volutpat est velit egestas. Sapien eget mi proin sed. Sit amet mattis vulputate enim.
                            </p>
                            <p>
                                Commodo ullamcorper a lacus vestibulum sed arcu. Fermentum leo vel orci porta non. Proin fermentum leo vel orci porta non pulvinar. Imperdiet proin fermentum leo vel. Tortor posuere ac ut consequat semper viverra. Vestibulum lectus mauris ultrices eros.
                            </p>
                            <h3 class="has-text-centered">Lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi. Cras tincidunt lobortis feugiat vivamus.</h3>
                            <p>
                                In eu mi bibendum neque egestas congue quisque egestas diam. Enim nec dui nunc mattis enim ut tellus. Ut morbi tincidunt augue interdum velit euismod in. At in tellus integer feugiat scelerisque varius morbi enim nunc. Vitae suscipit tellus mauris a diam.
                                Arcu non sodales neque sodales ut etiam sit amet.
                            </p>
                        </div>
                    </div>
                </div>
                ---->
                <!-- END ARTICLE -->
                <!-- START PROMO BLOCK -->
                <section class="hero is-info is-bold is-small promo-block">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">
                                <i class="fa fa-bell-o"></i> Nemo enim ipsam voluptatem quia.</h1>
                            <span class="tag is-black is-medium is-rounded">
                                    Natus error sit voluptatem
                                </span>
                        </div>
                    </div>
                </section>
                <!-- END PROMO BLOCK -->
                <!-- START ARTICLE -->

                <!-----
                <div class="card article">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-center">
                                <img src="https://res.cloudinary.com/ameo/image/upload/v1639144778/typocat_svbspx.png" class="author-image" alt="Placeholder image">
                            </div>
                            <div class="media-content has-text-centered">
                                <p class="title article-title">Cras tincidunt lobortis feugiat vivamus.</p>
                                <p class="subtitle is-6 article-subtitle">
                                    <a href="#">@angela</a> on October 7, 202X
                                </p>
                            </div>
                        </div>
                        <div class="content article-body">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Accumsan lacus vel facilisis volutpat est velit egestas. Sapien eget mi proin sed. Sit amet mattis vulputate enim.
                            </p>
                            <p>
                                Commodo ullamcorper a lacus vestibulum sed arcu. Fermentum leo vel orci porta non. Proin fermentum leo vel orci porta non pulvinar. Imperdiet proin fermentum leo vel. Tortor posuere ac ut consequat semper viverra. Vestibulum lectus mauris ultrices eros.
                            </p>
                            <h3 class="has-text-centered">“Everyone should be able to do one card trick, tell two jokes, and recite three poems, in case they are ever trapped in an elevator.”</h3>
                            <p>
                                In eu mi bibendum neque egestas congue quisque egestas diam. Enim nec dui nunc mattis enim ut tellus. Ut morbi tincidunt augue interdum velit euismod in. At in tellus integer feugiat scelerisque varius morbi enim nunc. Vitae suscipit tellus mauris a diam.
                                Arcu non sodales neque sodales ut etiam sit amet.
                            </p>
                        </div>
                    </div>
                </div>
                --->
                <!-- END ARTICLE -->
              </div>

        </section>
        <!-- END ARTICLE FEED -->
        </div>
        <script async type="text/javascript" src="../js/bulma.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/js/OverlayScrollbars.min.js'></script>
        <script type="text/javascript" src="{{ url_for('static', filename='/js/input_arrays.js') }}"></script>   

        <script>
        document.addEventListener("DOMContentLoaded", function() {
        //The first argument are the elements to which the plugin shall be initialized
        //The second argument has to be at least a empty object or a object with your desired options
        OverlayScrollbars(document.querySelectorAll("body"), { });
        });
        </script>
</body>

</html>